* {
  box-sizing: border-box;
  border: 2px solid red;
  margin: 0;
  padding: 0;
}

nav {
  color: #f95738;
}

nav p {
  font-size: 40px;
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 1in;
  height: 1in;
  margin-left: 10px;
}

.image-banner {
  width: 100%;
  height: auto;
}

.jumbotron {
  padding: 10px 0px 10px 0px;
}

.card {
  padding: 5px 0px 10px 0px;
  width: 100%;
  height: auto;
}

.jumbotron {
  padding: 10px 0px 10px 0px;
}

.card {

  padding: 5px 0px 10px 0px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;


}

/* CSS for progres section */
.progress-section {
  font-size: 20px;
}

.exercise-history {
  font-weight: bold;
  margin: 10px;  
  padding: 20px;
  
}

.date-col,
.weight-col {
  border: solid black 3px;
  padding: 5px;
  text-align: center;
}

.shortcut {
    border: solid grey 2px;
    padding: 10px;
    margin: 5px
}

.button-shortcut {
  position: relative;
  top: 90px;
}

.img {
  width: 100%;
  height: 90%;
  background-size: cover;
}

.profile {
  display: flex;
  justify-content: center;
  padding: 10px 0px 5px 0px;
  
}


.weight-progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px;
}

#showweight {
  display: flex;
  align-items: center;
  padding: 10px 0px 5px 0px;
}

form {
  align-items: center;
  justify-content: center;
}


/* CSS for nutrition section */
.populate-plan {
  font-size: 20px;
  border-radius: 3px;
  border-color: black;
}

.meal-name {
  font-weight: bold;
/* CSS for workout page */
.workout{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    font-size: larger;
}
.btn{
  background: red;
  border: 3px solid red;
  border-radius: 8px;
}